@use './rainbow.scss';
@use './vars.scss';
@use './vitepress.scss';
@use './medium-zoom.scss';

.link.active,
.link.active span,
.VPNavBarMenuLink:hover span,
.VPSidebarItem.is-active .link,
.VPSidebar .link:hover {
  color: var(--vp-c-brand-1);
}

.line-number,
.line-numbers-wrapper {
  transition: all linear 0.5s;
}

.line-numbers-mode:hover .line-number {
  color: var(--vp-c-brand-1);
}

.line-numbers-mode:hover .line-numbers-wrapper {
  border-color: var(--vp-c-brand-1);
}

/* slim scroll bar for windows based web browsers - works on firefox */
* {
  scrollbar-color: var(--vp-c-gutter) var(--vp-button-alt-bg);
  scrollbar-width: thin;
}

/* slim scroll bar for windows based web browsers - works on chrome, edge, and safari */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* scrolling handle */
::-webkit-scrollbar-thumb {
  background: var(--vp-button-alt-hover-bg);
  border-radius: 5px;
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--vp-c-border);
}

/* scrolling track/backgronund color */
::-webkit-scrollbar-track {
  // background: var(--vp-button-alt-bg);
}